In [1]:
temper= float(input(" enter the temperature : "))
tem_f=(temper*1.8)+32
print("Temperature in farenheit is {} ".format(tem_f))

 enter the temperature : 37
Temperature in farenheit is 98.60000000000001

In [2]:
b=int(input("enter the base : "))
h=int(input('enter the height : '))
area=b*h*0.5
print('area of the triangle is ',area)

enter the base : 6
enter the height : 8
area of the triangle is  24.0

In [3]:
'''Write a Python Program to accept the details of a student like name, roll number and
mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output:
Name: Anisha
Roll No: 21
Mark: 78'''
name=input('enter the name of student: ')
r_n=input('enter the roll number of the student: ')
mark=int(input('enter the mark: '))
print('Name :',name,'\n','Roll No :', r_n,'\n','Mark:',mark)

enter the name of student: Anisha
enter the roll number of the student: 21
enter the mark: 78
Name : Anisha
 Roll No : 21
 Mark: 78

In [4]:
'''Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.'''
list1=[12,3,47,10]
print('largest number in the {} is : {}'.format(list1,max(list1)))

largest number in the [12, 3, 47, 10] is : 47

In [5]:
'''Write a python program to find the average of 5 numbers'''
a,b,c,d,e=1,2,3,4,5
averg=(a+b+c+d+e)/5
print('average of the given numbers is : ',averg)

average of the given numbers is :  3.0

In [6]:
list3=[1,2,3,4,5]
list3.insert(2, 8)
list3

[1, 2, 8, 3, 4, 5]

In [7]:
'''Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}'''
data = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
data['location']=data.pop('city')
data

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [8]:
'Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.'
df = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}}
df['emp3']['salary']=8500
df

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [9]:
'''Write a program to copy elements 44 and 55 from the following tuple into a new tuple. 
Given: tuple1 = (11, 22, 33, 44, 55, 66)
'''
t1=(11, 22, 33, 44, 55, 66)
t2=t1[3:5]
t2

(44, 55)

In [10]:
''' Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10, 60, 70, 50,83,567,50,81)'''
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
freq=tuple1.count(50)
freq

3